html {
  background-color: #000;
  font-family: monospace;
  color: #ccc;
}

main {
  width: 500px;
  margin: 0 auto;
}

h1,h2,h3,h4,h5,h6 {
  color: #fff;
  text-decoration: none;
}

/* h2 {
	color: #f00;
} */

a {
  text-decoration: none;
  color: #f00;
}

a:hover {
  color: #aaa;
}

/* a[href^="tel:"]:before {
  content: "\260e";
  margin-right: 0.5em;
} */

.navbar {
  overflow: hidden;
  padding: 20px;
}

.navbar a {
  float: left;
  display: block;
  text-align: center;
  width: 20%;
  padding: 2%;
  border-radius: 5px;
}

.active {
  background-color: #f00;
  color: #000;
}

.hidden {
  color: #000;
  list-style-type: none;
}

div.center {
  margin: 0 auto;
  text-align: center;
}
