/* Main body */
body {
  margin: 0;
}

#pawn {
  background-image: url("../../res/images/pawn.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
